.clicker {
  --mainColor: wheat;
  --headingFontSize: 34px;
  color: var(--mainColor);

  & img {
    border-radius: 50%;
    /* border: 2px solid var(--color1); */
    border: 2px solid #E60E63;
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
  }

  & h1 {
    font-size: var(--headingFontSize);
    /* background-image: url('../../theme/image/react.svg'); */
  }

  /* & button {
    height: 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: var(--mainColor);
    font-size: 20px;
    cursor: pointer;
    outline: 0;
  } */

  @media (--phonePortrait) {
    color: red;
  }

}
